# ╔═══════════════════════════════════════╗
# ║           ~/.editorconfig             ║
# ║  Consistent style across all editors  ║
# ╚═══════════════════════════════════════╝
root = true

[*]
charset                  = utf-8
end_of_line              = lf
insert_final_newline     = true
trim_trailing_whitespace = true
indent_style             = space
indent_size              = 4

[*.{js,jsx,ts,tsx,json,html,css,scss,yaml,yml,toml}]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length          = off

[Makefile]
indent_style = tab

[*.go]
indent_style = tab
indent_size  = 4

[*.py]
indent_size = 4

[*.rs]
indent_size = 4
